footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color;
  padding: 80px 0;

  .footer__image img{
    width: 100px;

    @media (max-width: 420px) {
      width: 70px;
    }
  }

  .footer__list {
    display: flex;
    padding: 40px 0;

    &--item {
      margin: 0 16px;

      @media (max-width: 420px) {
        margin: 0 10px;
      }

      &-link {
        color: $background-color;
        @include secondFont;
        font-size: 18px;
        font-weight: 700;
        position: relative;

        @media (max-width: 420px) {
          font-size: 16px;
        }

        &::before {
          content: "";
          position: absolute;
          bottom: -4px;
          right: 0;
          width: 0;
          height: 3px;
          background-color: $background-color;
          @include transition;
        }

        &:hover::before {
          width: 100%;
          left: 0;
        }
      }
    }
  }

  .footer__copyright {
    color: $background-color;
    @include firstFont;

    @media (max-width: 420px) {
      font-size: 14px;
    }
  }
}
